HEADEASE_FHIR_BASE_URL=https://ngrok.headease.nl/fhir
HEADEASE_LRZA_BASE_URL=https://adressering.proeftuin.gf.irealisatie.nl/poc/FHIR/fhir
HEADEASE_NVI_BASE_URL=https://nvi.proeftuin.gf.irealisatie.nl
HEADEASE_PRS_BASE_URL=https://pseudoniemendienst.proeftuin.gf.irealisatie.nl
HEADEASE_OAUTH_BASE_URL=https://oauth.proeftuin.gf.irealisatie.nl
HEADEASE_URA_NUMBER=90000315
HEADEASE_ORGANIZATION_NAME=HeadEase
HEADEASE_CLIENT_CERT=certificates/headease-certificates-proeftuin/headease-uzi-external-intermediate/headease-uzi-chain.crt
HEADEASE_CLIENT_KEY=certificates/headease_nvi_20260202_145627.key
HEADEASE_UZI_CERT=certificates/headease-certificates-proeftuin/headease-uzi-external-intermediate/headease-uzi.crt
HEADEASE_UZI_INTERMEDIATE_CERT=certificates/gfmodules-test-uzi-external-intermediate.cer
HEADEASE_LDN_CERT=certificates/headease-certificates-proeftuin/headease-ldn-external-intermediate/headease-ldn.crt
HEADEASE_LDN_CHAIN_CERT=certificates/headease-certificates-proeftuin/headease-ldn-external-intermediate/headease-ldn-chain.crt
HEADEASE_LDN_CA_CERT=certificates/headease-certificates-proeftuin/headease-ldn-external-intermediate/ldn-ca.crt
HEADEASE_REDIS_URL=redis://localhost:6379
HEADEASE_HAPI_BASE_URL=http://localhost:8082/fhir
