project            = "cumuluz-vws-hackathon-april-26"
region             = "europe-west4"
cluster_name       = "headease-homemonitoring"
node_machine_type  = "e2-standard-2"
namespace          = "headease-homemonitoring"
image_repository   = "europe-west4-docker.pkg.dev/cumuluz-vws-hackathon-april-26/headease/headease-homemonitoring"
image_tag          = "latest"
base_domain        = "gf-cumuluz-poc.headease.nl"
# fhir_base_url    = ""  # defaults to https://data-source.<base_domain>/fhir
ura_number         = "90000315"
organization_name  = "HeadEase"
cert_secret_name   = "headease-homemonitoring-certs"
